.header {
    width: 100%;
    padding: 15px 0;
    margin-bottom: 50px;
    border-bottom: 1px solid #cecece;

    &__logo {
        color: #0000dd;
        font-size: 18px;
    }

    &__menu {
        li {
            margin-right: 15px;
            list-style: none;

            a {
                color: #000;
                font-size: 14px;
                text-decoration: none;
            }
        }
    }
}